In [1]:
# -*- coding: utf-8 -*-
#https://blog.csdn.net/m0_37228052/article/details/128481161?utm_medium=distribute.pc_relevant.none-task-blog-2~default~baidujs_baidulandingword~default-0-128481161-blog-111279591.pc_relevant_multi_platform_whitelistv3&spm=1001.2101.3001.4242.1&utm_relevant_index=3
import esda
import pandas as pd
import geopandas as gpd
from geopandas import GeoDataFrame
import libpysal as lps
import numpy as np
import matplotlib.pyplot as plt
from shapely.geometry import Point
#import contextily as ctx
from pylab import figure, scatter, show
import warnings
# warnings.filterwarnings('ignore')
# %matplotlib inline
from math import cos
import seaborn as sns
import cartopy.crs as ccrs
from esda.moran import Moran,Moran_BV
import pandas as pd

import geoplot as gplt
import geoplot.crs as gcrs
from matplotlib.patches import Patch
from mpl_toolkits.axes_grid1.anchored_artists import AnchoredSizeBar
import matplotlib.cm as cm
from matplotlib.colors import ListedColormap, LinearSegmentedColormap
import math
from matplotlib.patches import Ellipse,Circle
from splot.esda import plot_moran,plot_moran_bv_simulation
import scipy.stats as ss

In [3]:
year = 2020
df_map = gpd.read_file(f'../result/data/{year}_LSOA_Retail_Density_map.shp')
df_map

,LSOA11CD,LSOA11NM,MSOA11CD,MSOA11NM,LAD11CD,LAD11NM,RGN11CD,RGN11NM,USUALRES,HHOLDRES,...,Retail_c_5,Retail_D_5,Retail_c_6,Retail_D_6,Retail_c_7,Retail_D_7,Retail_c_8,Retail_D_8,Areas,geometry
0,E01000001,City of London 001A,E02000001,City of London 001,E09000001,City of London,E12000007,London,1465,1465,...,0.0,0.000000,1.0,0.000008,0.0,0.000000,0.0,0.0,1.333208e+05,POINT (532150.879 181615.038)
1,E01000002,City of London 001B,E02000001,City of London 001,E09000001,City of London,E12000007,London,1436,1436,...,0.0,0.000000,1.0,0.000004,1.0,0.000004,0.0,0.0,2.261913e+05,POINT (532443.354 181645.862)
2,E01000003,City of London 001C,E02000001,City of London 001,E09000001,City of London,E12000007,London,1346,1250,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.0,5.730297e+04,POINT (532207.062 182030.087)
3,E01000005,City of London 001E,E02000001,City of London 001,E09000001,City of London,E12000007,London,985,985,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.0,1.907388e+05,POINT (533618.591 181157.119)
4,E01000006,Barking and Dagenham 016A,E02000017,Barking and Dagenham 016,E09000002,Barking and Dagenham,E12000007,London,1703,1699,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.0,1.441958e+05,POINT (544934.368 184297.551)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4830,E01033742,Greenwich 007F,E02000319,Greenwich 007,E09000011,Greenwich,E12000007,London,1352,1352,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.0,1.233092e+05,POINT (544581.697 179602.539)
4831,E01033743,Greenwich 002H,E02000314,Greenwich 002,E09000011,Greenwich,E12000007,London,2038,2038,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.0,1.004853e+06,POINT (545763.532 180611.459)
4832,E01033744,Greenwich 007G,E02000319,Greenwich 007,E09000011,Greenwich,E12000007,London,1845,1728,...,1.0,0.000007,0.0,0.000000,0.0,0.000000,0.0,0.0,1.522620e+05,POINT (544541.222 179300.528)
4833,E01033745,Greenwich 002I,E02000314,Greenwich 002,E09000011,Greenwich,E12000007,London,1820,1820,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.0,5.584777e+05,POINT (546171.331 180005.443)
4834,E01033746,Greenwich 038E,E02006931,Greenwich 038,E09000011,Greenwich,E12000007,London,1464,1436,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.0,1.289767e+05,POINT (538054.131 177041.951)

In [ ]:
pop = pd.read_excel('../data/sape23dt10amid2020coaunformattedsyoaestimateslondon.xlsx',
                        sheet_name='Mid-2020 Persons',header=4)
pop
# 人口结构参数计算，参考https://wenku.baidu.com/view/40d1e71dcaaedd3383c4d3d2.html?_wkts_=1675204057787&bdQuery=%E4%BA%BA%E5%8F%A3%E7%BB%93%E6%9E%84%E6%80%8E%E4%B9%88%E8%AE%A1%E7%AE%97
# 人口结构：性别比例，男性人数/女性人数*100
# 人口结构：年龄构成，按照参考的介绍，可分为少年、青年、老年三组的比例，这里为了简化，用年龄平均代替，其中90+的人员都设置为90岁

pop_male = pd.read_excel('../data/sape23dt10amid2020coaunformattedsyoaestimateslondon.xlsx',
                        sheet_name='Mid-2020 Males',header=4,usecols='A:C')
pop_female = pd.read_excel('../data/sape23dt10amid2020coaunformattedsyoaestimateslondon.xlsx',
                        sheet_name='Mid-2020 Females',header=4,usecols='A:C')

pop_male = pop_male.groupby('LSOA11CD')['All Ages'].sum()
pop_female = pop_female.groupby('LSOA11CD')['All Ages'].sum()

colls = pop.columns[2:]
pop2 = pd.DataFrame(pop.groupby('LSOA11CD')[colls].sum())

weight = np.array(range(0,91))
weight = np.expand_dims(weight,0).repeat(len(pop2),axis=0)


cc = pop2[colls[1:]]*weight
cc['sum'] = cc.apply(lambda x:sum(x),axis=1)
pop2['avg_age']=cc['sum']/pop2['All Ages']

pop2['gender_percent'] = pop_male/pop_female*100
pop = pop2
pop